<div class="container">

  <div class="row justify-content-center">
    <div class="col-6">
      <form class="text-center" [formGroup]="formNameSummoners" (ngSubmit)="onSubmit()">
        <input class="form-control mb-3" type="text" formControlName="name" id="nameSummoner" placeholder="Search summoner"/>
      </form>
    </div>
  </div>

</div>
<div>
  <div *ngIf="this.summonerByName.name != ''">
    <router-outlet></router-outlet>
  </div>
  <p *ngIf=" summonerByName == undefined">We dont have data</p>
</div>
